---
layout: base
---

{% assign page_path = page.url | split: "/" %}

<div id="page" class="container">
  <div class="row">
    <div class="col-md-3 docs-sidebar">

      {% if page.url contains "/docs/deploy/" %}
        <h5>Administrator guide</h5>
        <ul class="docs-menu">
          <li {% if page.url == "/docs/deploy/install.html" %}class="active"{% endif %}>
            <a href="/docs/deploy/install.html">Installing</a>
          </li>
          <li {% if page.url == "/docs/deploy/monitoring.html" %}class="active"{% endif %}>
            <a href="/docs/deploy/monitoring.html">Monitoring</a>
          </li>
        </ul>
      {% else %}
        <h5><a href="/docs/deploy/install.html">Administrator guide</a></h5>
      {% endif %}

      {% if page.url contains "/docs/contribute/" %}
        <h5>Developer guide</h5>
        <ul class="docs-menu">
          <li {% if page.url == "/docs/contribute/architecture.html" %}class="active"{% endif %}>
            <a href="/docs/contribute/architecture.html">Architecture</a>
          </li>
          <li {% if page.url == "/docs/contribute/protocol.html" %}class="active"{% endif %}>
            <a href="/docs/contribute/protocol.html">Protocol specification</a>
          </li>
          <li {% if page.url == "/docs/contribute/server.html" %}class="active"{% endif %}>
            <a href="/docs/contribute/server.html">Server development</a>
          </li>
          <li {% if page.url == "/docs/contribute/client.html" %}class="active"{% endif %}>
            <a href="/docs/contribute/client.html">Client development</a>
          </li>
          <li {% if page.url == "/docs/contribute/dashboard.html" %}class="active"{% endif %}>
            <a href="/docs/contribute/dashboard.html">Dashboard development</a>
          </li>
        </ul>
      {% else %}
        <h5><a href="/docs/contribute/architecture.html">Developer guide</a></h5>
      {% endif %}
    </div>

    <div class="col-md-9">
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="docs">{{ content }}</div>
    </div>
  </div>
</div>
